*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $fontfamily-base;
    background-color: $light;
    color: $dark;
    -webkit-font-smoothing:antialised
}

a{
    text-decoration: none;
    color: inherit;
}
img{
    max-width: 100%;
    display: block;
}
button{
    font-family: inherit;
    cursor: pointer;
    border: none;
    background: none;
}
